div {
  display: inline-block;
}
p {
  margin: 0px;
  display: inline-block;
}

div#new {
  width: 100px;
  height: 40px;
  background-color: #0000ff;
  text-align: center;
}
div#new p {
  padding: 12px 0px;
}
div#numMines {
  width: 50px;
  height: 30px;
  background-color: #ff0000;
  text-align: center;
}
div#numMines p {
  padding: 7px 0px;
}
p#numMinesLabel {
  background-color: #ff0000;
  padding: 7px 3px;
}

div.space {
  background-color: #dddddd;
  width: 30px;
  height: 30px;
  margin: 1px -1px;
  text-align: center;
}
div.space p {
  padding: 7px 0px;
}
