div {
  display: inline-block;
}
p {
  margin: 0px;
  display: inline-block;
}

div#new {
  width: 100px;
  height: 42px;
  background-color: #0000ff;
  text-align: center;
}
div#new p {
  padding: 12px 0px;
}
div#numMines {
  width: 50px;
  height: 42px;
  background-color: #ff0000;
  text-align: center;
}
div#numMines p {
  padding: 12px 0px;
}
p#numMinesLabel {
  background-color: #ff0000;
  padding: 12px 10px;
}

div.space {
  background-color: #dddddd;
  width: 30px;
  height: 30px;
  margin: 1px;
  text-align: center;
}
div.space p {
  padding: 7px 0px;
}
div#reg {
  width: 100px;
  height: 40px;
  background-color: #6666ff;
  text-align: center;
}
div#reg p {
  padding: 12px 0px;
}
div#fast {
  width: 100px;
  height: 40px;
  background-color: #ddffdd;
  text-align: center;
}
div#fast p {
  padding: 12px 0px;
}
div#clk {
  width: 100px;
  height: 40px;
  background-color: #6666ff;
  text-align: center;
}
div#clk p {
  padding: 12px 0px;
}
div#flag {
  width: 100px;
  height: 40px;
  background-color: #ddffdd;
  text-align: center;
}
div#flag p {
  padding: 12px 0px;
}
div#gamemode {
  text-align: center;
  border: 1px solid #dddddd;
  padding: 2px;
}
div.space p img {
  vertical-align: middle;
  width: 16px;
  height: 16px;
}
